*{
    margin: 0;
    padding: 0;
}

/* 重置按钮的 padding 和 margin */
.el-button,
.el-checkbox,
.el-radio,
.el-icon,
.el-checkbox__label,
.el-radio__label,
.el-icon,
.el-checkbox__label,
.el-radio__label,
.el-icon,
.el-checkbox__label,
.el-radio__label,
.el-icon,
.el-checkbox__label,
.el-radio__label,
.el-icon,
.el-checkbox__label,
.el-radio__label,
.el-icon,
.el-checkbox__label,
.el-radio__label,
.el-icon,
.el-checkbox__label,
.el-radio__label,
.el-icon,
.el-checkbox__label,
.el-radio__label,
.el-icon,
.el-checkbox__label,
.el-radio__label,
.el-button--primary {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;  /* 如果需要取消圆角 */
}

/* 重置卡片的 padding 和 margin */
.el-card {
  padding: 0 !important;
  margin: 0 !important;
}

/* 重置输入框的 padding 和 margin */
.el-input__inner {
  padding: 0 !important;
  margin: 0 !important;
}

/* 重置弹窗的 padding 和 margin */
/* .el-dialog {
  padding: 0 !important;
  margin: 0 !important;
} */

/* 重置表格单元格的 padding 和 margin */
.el-table th,
.el-table td {
  padding: 0 !important;
  margin: 0 !important;
}

/* 重置其他组件的 padding 和 margin */
.el-select,
.el-checkbox,
.el-radio {
  margin: 0 !important;
  padding: 0 !important;
}

/*TDZHX下拉框的样式*/
.custom-select-dropdown {
  background-color: rgb(24, 39, 87) !important;
  border: 1px solid rgb(90, 109, 165) !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 278px !important;
  height: 110px !important;
}

.custom-select-dropdown .el-select-dropdown__item {
  background-color: rgb(24, 39, 87) !important;
  color: white !important;
  margin: 0 !important;
  padding-left: 20px !important;
  line-height: 32px !important;
  height: 32px !important;
}

.custom-select-dropdown .el-select-dropdown__item:hover {
  background-color: rgb(24, 39, 87) !important;
}
.custom-select-dropdown .el-popper__arrow {
  display: none !important;
}

